@import "./variables.scss";

@mixin box-shadow($value: 4px) {
  box-shadow: $value $value 0 rgba(0, 0, 0, 0.75);
}

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin z-i($value) {
  z-index: $value;
}

.card {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.default-card {
  display: flex;
  flex-basis: 400px;
  flex-direction: column;
  padding: 20px 20px 30px 20px;
  margin: 30px 0;
  border: 2px solid $black;
  @include box-shadow;
  @include z-i(14);
}

.border-card {
  display: flex;
  flex-direction: column;
  padding: 10px 10px 15px 10px;
  margin: 30px 0;
  border: 2px solid $black;
}

.bg-black {
  background: #000 !important;
}

.h-auto {
  height: auto !important;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 20px;
  transition: 250ms ease-in-out;
}

.default-btn {
  background: $white;
  border: 2px solid #000;

  &:disabled {
    border: 2px solid $disabled;
    background: $disabled;
    color: $white;
  }

  &:hover:not([disabled]) {
    @include box-shadow(7px);
  }
}

.warning-btn {
  background: $yellow;
  border: 2px solid #000;

  &:disabled {
    border: 2px solid $disabled;
    background: $disabled;
    color: $white;
  }

  &:hover:not([disabled]) {
    @include box-shadow(7px);
  }
}

.btn-loading-spinner {
  &::after {
    content: "";
    display: inline-block;
    height: 22px;
    width: 22px;
    margin-left: 10px;
    border-radius: 50%;
    border: 2px solid $disabled;
    border-top-color: #000;
    border-bottom-color: #000;
    animation: spin 800ms ease-in-out infinite;
  }
}

.center {
  @include center;
}

.alert-box {
  @include center;
  background: #e57373;
  color: $white;
  padding: 10px 40px;
}

// Utility Classes

.m-1 {
  margin: 1rem;
}

.mr-1 {
  margin-right: 1rem;
}

.mr-2 {
  margin-right: 2rem;
}

.mr-3 {
  margin-right: 3rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mx-2 {
  margin: 0 2rem 0 2rem;
}

.flex {
  display: flex;
}

.f-1 {
  flex: 1;
}

.f-2 {
  flex: 2;
}

.f-3 {
  flex: 3;
}

.f-4 {
  flex: 4;
}

.f-4 {
  flex: 5;
}

.fb-300 {
  flex-basis: 300px;
}

.fb-400 {
  flex-basis: 400px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100%;
  }
}

@media screen and (max-width: 1025px) {
  .form-card {
    margin: 0 10px;
  }
}