@import "./variables.scss";

.form {
  display: flex;
  position: relative;
  height: 100%;
  width: 100%;
}
.form-card {
  display: flex;
  position: absolute;
  top: 20%;
  right: 40px;
  height: min-content;
  background: $white;
  flex-direction: column;
  width: 400px;
  border-radius: $br;
  padding: 30px 20px 40px 20px;
  margin: 30px 0;
}

@media screen and (max-width: 1025px) {
  .form {
    justify-content: center;
    align-items: center;
  }
  .form-card {
    position: initial;
    transform: translateY(-100px);
    width: auto;
    flex-basis: 450px;
    margin: 0 10px;
  }
}
