$red: #e63946; // Imperial Red
$light: #f1faee; // Honeydew
$PBlue: #a8dadc; // Powder Blue
$CBlue: #457b9d; // Celadon Blue
$DBule: #1d3557; // Prussian Blue
$green: #66bb6a; // Material Green
$yellow: #ffd803; // Material Yellow
$black: #000; // Black
$white: #fffffe; // White
$br: 5px; // Border Radius
$dark: #4e4e4e; // Dark
$disabled: #cccccc; // For disabled
$label: rgba(0, 0, 0, 0.6); // For form labels
