$red: #e63946; // Imperial Red
$light: #f1faee; // Honeydew
$PBlue: #a8dadc; // Powder Blue
$CBlue: #457b9d; // Celadon Blue
$DBule: #1d3557; // Prussian Blue
$green: #66bb6a; // Material Green
$yellow: #ffee58; // Material Yellow
